<html>
  <head>
    <title>HelloWorld!!</title>
  </head>

  <body style="height: auto;">
    <div class="ui visible sidebar inverted vertical menu">
      <div class="item">
        Scrapbook
      </div>
    </div>
    <!--<div id="screenshotListView">
      <ul>
        <% for (let i = 0; i< screenshotList.length; i++) { %>
          <li>
            <img src= <%= screenshotList[i].imgURL %> >
          </li>
        <% } %>
      </ul>
    </div>-->
    <!--<div class="ui fluid container">-->
      <canvas id="goodCanvas"> </canvas>
      <!--<canvas id="dummyCanvas" style="display:none;"> </canvas>-->
    <!--</div>-->
<script src="jquery.js"></script>
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script src="semantic/dist/semantic.min.js"></script>
<script src="jcanvas.min.js"></script>
<script src="index.js"></script>
  </body>
</html>
