<html>
  <head>
    <title>HelloWorld!!</title>
  </head>

  <body>
    <!--<div id="screenshotListView">
      <ul>
        <% for (let i = 0; i< screenshotList.length; i++) { %>
          <li>
            <img src= <%= screenshotList[i].imgURL %> >
          </li>
        <% } %>
      </ul>
    </div>-->
    <canvas id="goodCanvas"> </canvas>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="index.js"></script>
  </body>
</html>
